NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

MONGODB_URI=mongodb+srv://SEU_USUARIO:SUA_SENHA@selene.8lnociv.mongodb.net/selene?retryWrites=true&w=majority&appName=Selene

JWT_SECRET=altere_esta_chave_secreta
API_KEY=altere_esta_chave_api

FOTOS_PATH=./fotos_plantas
LOG_LEVEL=info